<div class="mt-4 ml-2">
  <h2>Jobs</h2>
</div>
<div class="mt-4 ml-2">
    <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>Propietario</th>
            <th>Nombre</th>
            <th>Clase</th>
            <th>Comentario</th>
            <th>Habilitado</th>
            <th>Nombre de la credencial</th>
            <th>Destino</th>
            <th>Nombre del programa</th>
            <th>Tipo</th>
            <th>Acción</th>
            <th>Número de argumentos</th>
            <th>Propietario de la programación</th>
            <th>Nombre de la programación</th>
            <th>Tipo de la programación</th>
            <th>Fecha de inicio</th>
            <th>Intervalo de repetición</th>
            <th>Fecha de finalización</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of jobs">
            <td>{{job.propietario}}</td>
            <td>{{job.nombre}}</td>
            <td>{{job.clase}}</td>
            <td>{{job.comentarios}}</td>
            <td>{{job.habilitado}}</td>
            <td>{{job.nombreCredencial}}</td>
            <td>{{job.destino}}</td>
            <td>{{job.nombrePrograma}}</td>
            <td>{{job.tipo}}</td>
            <td>{{job.accion}}</td>
            <td>{{ job.numeroArgumentos }}</td>
            <td>{{ job.propietarioCalendario }}</td>
            <td>{{ job.nombreCalendario }}</td>
            <td>{{ job.tipoCalendario }}</td>
            <td>{{ job.fechaInicio }}</td>
            <td>{{ job.intervaloRepeticion }}</td>
            <td>{{ job.fechaFin }}</td>
            <div class="row justify-content-center" *ngIf = "job.habilitado === 'TRUE'; else elseBlock">
              <button class="col justify-content-center" (click)="updateHabilitado(job)" type="button" class="btn btn-primary">Habilitar</button>
            </div>
            <ng-template #elseBlock>
              <div class="justify-content-center align-items-center">
                <button (click)="updateHabilitado(job)" type="button" class="btn btn-primary">Deshabilitar</button>
              </div>
            </ng-template>
          </tr>
        </tbody>
    </table>
</div>

