<div class="container">
  <div class="row" style="width: 350px;">
    <div class="container mt-4">
      <h2>Base de Datos</h2>
      <div class="list-group mt-4">
        <a routerLink="/usuarios-propietarios" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary">Usuarios propietarios</a>
        <a routerLink="/permisos-usuarios" class="list-group-item list-group-item-action">Permisos Usuarios</a>
        <a routerLink="/jobs" class="list-group-item list-group-item-action">Jobs</a>
        <a routerLink="/usuarios-recursos" class="list-group-item list-group-item-action">Usuario recursos</a>
        <a routerLink="/tablespaces" class="list-group-item list-group-item-action">Tablespaces</a>
        <a routerLink="/usuarios-detalles" class="list-group-item list-group-item-action">Espacio Usuarios</a>
      </div>
    </div>
  </div>
</div>
