<div class="container">
  <div class="container mt-4">
    <h2>Base de Datos</h2>
    <div class="list-group mt-4">
      <a routerLink="/usuarios-propietarios" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary">Usuarios propietarios</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Usuarios no propietarios</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Jobs</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Usuario recursos</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Tablespaces</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-info">Espacio Usuario</a>
    </div>
  </div>
</div>
