<div class="container mt-4">
  <h2>Columnas</h2>
  <div class="mt-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre Columna</th>
          <th>Tipo de Dato</th>
          <th>Comentarios</th>
          <th>Indices</th>
         </tr>
      </thead>
      <tbody>
        <tr *ngFor="let columna of columnas">
          <td>{{columna.nombreColumna}}</td>
          <td>{{columna.tipoDato}}</td>
          <td>{{columna.comentarios}}</td>
          <td>{{columna.indices}}</td>          
        </tr>
      </tbody>
    </table>
  </div>
